@import "../../themes/color";
.test{
  height: 500px;
  width: 100%;
  //background-attachment: fixed;
  //background: url('../../assets/antv.jpg') center center/cover;
}
@icon-width: 2.5em;
.home-container {
  .home-content {
    .about-me{
      .word {
        color: @deep-gray !important;
        font-weight: bold;
      }
    }
    .icon-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px 0;
      >a{
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
      .icon-font {
        transition: all .3s cubic-bezier(.215,.61,.355,1);
        width: @icon-width;
        height: @icon-width;
        fill: @deep-border-color;
        &:hover {
          fill: @deep-blue;
        }
      }
    }
  }
  .footer {
    border-top: 1px solid #e0e5e6;
    background: #f6f8f8;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: @footer-text;
    >span {
      margin-top: 5px;
    }
    >a {
      margin-top: 5px;
      color: @footer-text;
    }
    padding: 25px 15px;
    .icon-font {
      fill: @footer-text;
      margin-bottom: -5px;
      width: 1.5em;
      height: 1.5em;
    }
  }
}
